openapi: 3.0.3
info:
  title: MuscleMap API
  description: |
    REST API for MuscleMap fitness platform.

    ## Authentication
    Most endpoints require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```

    Get a token by calling POST /api/auth/login or POST /api/auth/signup.

    ## Rate Limiting
    - Anonymous: 100 requests/minute
    - Authenticated: 500 requests/minute
    - Premium: 1000 requests/minute
  version: 1.0.0
  contact:
    email: support@musclemap.me
    url: https://musclemap.me
  license:
    name: Proprietary
    url: https://musclemap.me/terms

servers:
  - url: https://musclemap.me/api
    description: Production
  - url: http://localhost:3001/api
    description: Local development

tags:
  - name: auth
    description: Authentication endpoints
  - name: users
    description: User profile operations
  - name: workouts
    description: Workout logging and management
  - name: exercises
    description: Exercise library
  - name: credits
    description: Credit economy
  - name: social
    description: Social features

paths:
  /auth/signup:
    post:
      tags: [auth]
      summary: Register new user
      operationId: signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, username]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /auth/login:
    post:
      tags: [auth]
      summary: Login user
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/me:
    get:
      tags: [auth]
      summary: Get current user
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workouts:
    get:
      tags: [workouts]
      summary: List workouts
      operationId: listWorkouts
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Workouts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workout'
                  nextCursor:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [workouts]
      summary: Create workout
      operationId: createWorkout
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkoutInput'
      responses:
        '201':
          description: Workout created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workout'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /workouts/{id}:
    get:
      tags: [workouts]
      summary: Get workout
      operationId: getWorkout
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workout'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /exercises:
    get:
      tags: [exercises]
      summary: List exercises
      operationId: listExercises
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: muscleGroup
          in: query
          schema:
            type: string
        - name: equipment
          in: query
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Exercises list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'

  /exercises/{id}:
    get:
      tags: [exercises]
      summary: Get exercise
      operationId: getExercise
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Exercise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exercise'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /credits/balance:
    get:
      tags: [credits]
      summary: Get credit balance
      operationId: getCreditBalance
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                  wealthTier:
                    type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /health:
    get:
      tags: [system]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        level:
          type: integer
        archetypeId:
          type: string
        totalTU:
          type: integer
        creditBalance:
          type: integer
        wealthTier:
          type: integer
        avatarUrl:
          type: string
        createdAt:
          type: string
          format: date-time

    AuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    Workout:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        exercises:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutExercise'
        totalTU:
          type: integer
        duration:
          type: integer
        completedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    WorkoutExercise:
      type: object
      properties:
        id:
          type: string
          format: uuid
        exerciseId:
          type: string
          format: uuid
        exerciseName:
          type: string
        sets:
          type: array
          items:
            $ref: '#/components/schemas/ExerciseSet'
        tu:
          type: integer

    ExerciseSet:
      type: object
      properties:
        setNumber:
          type: integer
        reps:
          type: integer
        weight:
          type: number
        rpe:
          type: integer

    CreateWorkoutInput:
      type: object
      required: [name, exercises]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        exercises:
          type: array
          minItems: 1
          items:
            type: object
            required: [exerciseId, sets]
            properties:
              exerciseId:
                type: string
                format: uuid
              sets:
                type: array
                items:
                  type: object
                  required: [reps]
                  properties:
                    reps:
                      type: integer
                      minimum: 1
                    weight:
                      type: number
                      minimum: 0
                    rpe:
                      type: integer
                      minimum: 1
                      maximum: 10

    Exercise:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        equipment:
          type: array
          items:
            type: string
        muscleGroups:
          type: array
          items:
            $ref: '#/components/schemas/MuscleActivation'
        instructions:
          type: string

    MuscleActivation:
      type: object
      properties:
        muscleId:
          type: string
        muscleName:
          type: string
        activation:
          type: number
          minimum: 0
          maximum: 100
        isPrimary:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        statusCode:
          type: integer

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnauthorizedError:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ConflictError:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
